<% var title = 'Create Question' %>
<% var script = '' %>
<% include head %>
<!--css insert here-->
</head>
<body>
<div class="container">
    <h2>Create Questions</h2>

    <ul class="nav nav-tabs">
        <li id="li-q1" class="active"><a data-toggle="tab" href="#tab-q1">1</a></li>
        <li><a onclick="addquestion()" href="#">+</a></li>
    </ul>
    <form id="addChallenge" role="form" action="/challenges/addChallenge" method="post">
        <fieldset class="form-group">
            <br/>
                    <textarea class="form-control" id="info" name="info"
                              placeholder="Description" required></textarea>
        </fieldset>
        <input type="hidden" class="form-control" id="teamID" name="teamID"
               value=<%= teamID%>>
        <input type="hidden" class="form-control" id="token" name="token"
               value=<%= token%>>
        <div class="tab-content">
            <% include tab-q1 %>

        </div>
        <button type="submit" class="btn btn-default">Create</button>
    </form>
</div>
<% include foot %>
<script src="/js/addChallenge.js"></script>
</body>
</html>