<% var title = 'Create Question' %>
<% var script = '' %>
<% include head %>

</head>
<body>
<div class="container">
 <h2>Create Questions</h2>

 <h5>Create Success!</h5>

</div>
<% include foot %>
</body>
</html>