<% var title = 'Add Announcment'%>
<% include head %>
<!--css insert here-->
</head>
<body>
<div class="container-fluid">
    <% include navbar %>
    <div class="container responsive">
        <h1><%= title %></h1>
        <p><a href="" type="button" class="btn btn-primary">Add Announcment</a></p>
    </div>

    <div class="container table-responsive">


        </div>
    </div>
</div>
<% include foot %>
</body>
</html>

