<% var title = 'Create Question' %>
<% var script = '' %>
<% include head %>
<!--css insert here-->
</head>
<body>
<div class="container">
    <h2>Create Questions</h2>

    <ul class="nav nav-tabs">
        <li id="li-q1" class="active"><a data-toggle="tab" href="#tab-q1">1</a></li>
        <li><a onclick="addquestion()" href="#">+</a></li>
    </ul>
    <form role="form">
        <div class="tab-content">
            <div id="tab-q1" class="tab-pane fade in active">
                <h3>Question 1</h3>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#mc">Multiple Choices</a></li>
                    <li><a data-toggle="tab" href="#oc">One Choice</a></li>
                    <li><a data-toggle="tab" href="#fitb">Fill in the Blank</a></li>
                </ul>
                <div class="tab-content">
                    <div id="mc" class="tab-pane fade in active">
                        <p>Multiple Choices</p>
                    </div>
                    <div id="oc" class="tab-pane fade">
                        <p>One Choice</p>
                    </div>
                    <div id="fitb" class="tab-pane fade">
                        <p>Fill in the blank</p>
                    </div>
                </div>
            </div>
            <div id="tab-q2" class="tab-pane fade">
                <h3>Question 2</h3>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">Left</button>
                    <button type="button" class="btn btn-default">Middle</button>
                    <button type="button" class="btn btn-default">Right</button>
                </div>
            </div>
        </div>
    </form>
</div>
<% include foot %>
<script src="/js/addquestion.js"></script>
</body>
</html>