<% var title = 'Assignments' %>
<% include head %>
<!--css insert here-->
</head>
<body>
<div class="container-fluid">
<% include navbar %>
    <div class="container responsive">
    <h1><%= title %></h1>









    </div>
</div>
<% include foot %>
</body>
</html>