<% var title = 'Authentication Example' %>
<% var css = 'login.css'%>
<% include head %>

<h1>HTML5Learner Admin Console</h1>

<form class="form-signin" method="post" action="/login">
    <h2 class="form-signin-heading">Please Login</h2>
    <label for="inputUser" class="sr-only">User</label>
    <input type="user" id="inputUser" class="form-control" placeholder="Username" required autofocus>
    <br/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

</div> <!-- /container -->

<% include foot %>