<% var title = 'HTML5Learner Admin Console' %>
<% var css = 'login.css'%>
<% include head %>

<h1>HTML5Learner Admin Console</h1>

<form class="form-signin" id="login-form" >
    <h2 class="form-signin-heading">Please Login</h2>
    <label for="inputUser" class="sr-only">User</label>
<<<<<<< HEAD
    <input type="user" id="inputUser" name="inputUser" class="form-control" placeholder="Username" required autofocus>
    <br/>
    <label for="inputPassword" id="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
=======
    <input type="text" name="id" id="inputUser" class="form-control" placeholder="Username" required autofocus>
    <br/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
>>>>>>> 2c76da4d8d6f48a99233cc2d69bcb41e126c63e5
    <div class="checkbox">
        <label>
            <input type="checkbox" name="rememberMe" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btn-login" id="btn-login">Sign in</button>
</form>

</div> <!-- /container -->


<% include foot %>
<script src="js/submit.js"></script>
</body>
</html>
