<% var title = 'HTML5Learner Admin Console' %>
<% var css = 'login.css'%>
<% include head %>
<div class="container-fluid">
    <nav class="navbar navbar-default">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="./">HTML5Learner</a>
        </div>
    </nav>
<h1>Admin Console</h1>

<form class="form-signin" id="login-form" >
    <h2 class="form-signin-heading">Please Login</h2>
    <label for="inputUser" class="sr-only">User</label>
    <input type="user" id="inputUser" name="id" class="form-control" placeholder="Username" required autofocus>
    <br/>
    <label for="inputPassword" id="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

    <div class="checkbox">
        <label>
            <input type="checkbox" name="rememberMe" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btn-login" id="btn-login">Sign in</button>
</form>

</div> <!-- /container -->


<% include foot %>
<script src="js/submit.js"></script>
</body>
</html>
