<% var title = 'Messages'%>
<% include head %>
<!--css insert here-->
</head>
<body>
<div class="container-fluid">
    <% include navbar %>
    <div class="container responsive">
        <h1><%= title %></h1>
        <p><a href="" type="button" class="btn btn-primary">New Messages</a></p>
    </div>
    <div class="row">




    </div>
    </div>
</div>
</div>
<% include foot %>
</body>
</html>

