<% var title = 'HTML5Learner Admin Console' %>
<% var css = 'login.css'%>
<% include head %>
<% include navbar%>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<% include foot %>

</body>
</html>

