<% var title = 'HTML5Learner Admin Console' %>
<% var css = 'login.css' %>
<% include head %>
<div class="container-fluid">
    <% include navbar %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
</div>
<% include foot %>
</body>
</html>

