<% var title = 'HTML5Learner Admin Console' %>
<% include head %>
<!--css insert here-->
</head>
<body>
<div class="container-fluid">
    <% include navbar %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
</div>
<% include foot %>
</body>
</html>

