<% var title = 'Assignments Statistic' %>
<% include head %>
<!--css insert here-->
</head>
<body style="height: 100%;">
<div class="container-fluid" style="height: 100%; overflow-y:auto;">
    <% include navbar %>
    <div class="container responsive" style="height: 100%; overflow-y:auto;">
        <h1><%= title %></h1>

        <h3><%= asstitle %></h3>
        <a href="/admin/stat-assignments-menu" class="btn btn-default">Back</a>

        <div class="container responsive">
            <canvas id="chart"></canvas>
        </div>


    </div>
</div>
<% include foot %>
<script src="/js/Chart.bundle.js"></script>
<script>
    var ctx = $("#chart");
    var data = <%- JSON.stringify(data)%>
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        max:100,
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
</body>
</html>
