<div id="tab-q1" class="tab-pane fade in active">

    <h3>Question 1</h3>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#mc">Multiple Choices</a></li>
        <li><a data-toggle="tab" href="#fitb">Fill in the Blank</a></li>
    </ul>
    <div class="tab-content">
        <fieldset class="form-group">
            <br/>
                    <textarea class="form-control" id="content[1][question]" name="content[1][question]"
                              placeholder="Question"></textarea>
        </fieldset>
        <br/>
        <input type="hidden" class="form-control" id="content[1][questionNo] " name="content[1][questionNo]"
               value="1">

        <div id="mc" class="tab-pane fade in active">
            <input type="hidden" class="form-control" id="content[1][qType]" name="content[1][qType]"
                   value="mc">
            <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" id="content[1][ans][1][correct]" name="content[1][ans][1][correct]" value="true">
      </span>
                <input type="text" class="form-control" id="content[1][ans][1][content]"
                       name="content[1][ans][1][content]" placeholder="Answer">
            </div>
            <br/>
            <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" id="content[1][ans][2][correct]" name="content[1][ans][2][correct]" value="true">
      </span>
                <input type="text" class="form-control" id="content[1][ans][2][content]"
                       name="content[1][ans][2][content]" placeholder="Answer">
            </div>

            <br/>
            <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" id="content[1][ans][3][correct]" name="content[1][ans][3][correct]" value="true">
      </span>
                <input type="text" class="form-control" id="content[1][ans][3][content]"
                       name="content[1][ans][3][content]" placeholder="Answer">
            </div>
            <br/>
            <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" id="content[1][ans][4][correct]" name="content[1][ans][4][correct]" value="true">
      </span>
                <input type="text" class="form-control" id="content[1][ans][4][content]"
                       name="content[1][ans][4][content]" placeholder="Answer">
            </div>
            <br/>
        </div>

        <div id="fitb" class="tab-pane fade question-answer">
            <p><input type="text" class="form-control" id="content[1][ans][1][content]" placeholder="Answer"></p>

        </div>
    </div>
</div>